*{
    font-family: 'Inter', sans-serif;

    padding: 0;
	margin: 0;
	border: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(233, 47%, 7%);
    
    a{
        text-decoration: none;
        color: white;
    }
}
.global{
    display: flex;
    max-width: 1015px;
    margin: 0 auto;
    background-color: hsl(244, 38%, 16%);
    border-radius: 15px;
    margin-top: 80px;
    
    .text{
        margin: 50px;
        display: flex;
        flex-direction: column;
        color: white;
        flex-shrink: 1;
        
        .bold_text{
            font-size: 35px;
            font-weight: bold;
            padding-bottom: 30px;
            .violet_text{
                color: hsl(277, 64%, 61%);
            }
        }
        .small_text{
            
            color: rgb(124, 124, 124);
            padding-bottom: 130px;
            
        }
        .peoples{
            display: flex;
            justify-content: space-between; 
            .bolded_text{
                font-weight: bold;
                .grey_text{
                    color: grey;
                    
                }
            }
        }
    }
    .picture{
        display: flex;
        .images{
            .image{
                position: relative;
                display: flex;
                flex-shrink: 1;
                max-width: 100%;
                margin: 0 auto;
                z-index: 0;
            }
        }
    }
}
@media screen and (max-width:600px) {
    .global{
        flex-direction: column-reverse;
        margin: 80px;
    }
    .peoples{
        flex-direction: column;
    }
    .text{
        text-align: center;
    }
}