* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: hsl(233deg, 47%, 7%);
}
body a {
  text-decoration: none;
  color: white;
}

.global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1015px;
  margin: 0 auto;
  background-color: hsl(244deg, 38%, 16%);
  border-radius: 15px;
  margin-top: 80px;
}
.global .text {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.global .text .bold_text {
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 30px;
}
.global .text .bold_text .violet_text {
  color: hsl(277deg, 64%, 61%);
}
.global .text .small_text {
  color: rgb(124, 124, 124);
  padding-bottom: 130px;
}
.global .text .peoples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.global .text .peoples .bolded_text {
  font-weight: bold;
}
.global .text .peoples .bolded_text .grey_text {
  color: grey;
}
.global .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.global .picture .images .image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  max-width: 100%;
  margin: 0 auto;
  z-index: 0;
}

@media screen and (max-width: 600px) {
  .global {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 80px;
  }
  .peoples {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .text {
    text-align: center;
  }
}